.day-border {
    border-style: hidden;
    background-color: grey;
    width: 150px;
    height: 150px;  
    padding: 5px;
    margin: 10px;
    color: white;
}

.weather-info {
    display: flex;
    align-items: center;
}

.weather-info img {
    margin-left: 10px;
}

/* Need to get the 5 day border boxes a little bigger */
/* Style the title for each day in the forecast box */
.day-border h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

/* Style the forecast data paragraphs */
.day-border p {
    font-size: 14px;
    margin-bottom: 3px;
}