.day-border {
    border-style: hidden;
    background-color: grey;
    width: 150px;
    height: 150px;  
    padding: 5px;
    margin: 10px;
    color: white;
}

.weather-info {
    display: flex;
    align-items: center;
}

.weather-info img {
    margin-left: 10px; /* Adjust the margin as needed */
}